* {
    font-family: sans-serif;
}

.card {
    margin: 50px auto;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
}

button[type="submit"] {
    width: 150px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #6cbe45;
    color: #fff;
    cursor: pointer;
    font-weight: bolder;
   
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    overflow: hidden;

    transition: all 0.2s linear 0s;

    &:before {
        content: "▶";
        color: #000;
        font-family: FontAwesome;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: -30px;
        width: 30px;
        height: 100%;
        background-color: #ffffffcc;
        border-radius: 0px 5px 5px 0px;
        transition: all 0.2s linear 0s;
        text-align: center;
    }
    
    &:hover {
        text-indent: -30px;
        
        &:before {
            right: 0;
            text-indent: 0px;
        }
    }
}

.button-effect {
    display: flex;
    justify-content: end;
}

/* icon */
span {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #ccc;
}
img {
    width: 100px;
    height: 100px;
}