{% extends 'user/layout.html' %}
{% block body %}

<body class="h-100">
<br>
<section>
    <div class="text-center mt-4">
      <p class="header">Sign Up</p>
      <div class="container w-50">
        <form class="mt-5" action="{% url 'user:signup' %}" method="POST">
          {% csrf_token %}
          <div class="form-row text-center" style="display: flex; justify-content: center;">
          </div>
          <br>
          <div class="form-row text-left">
            <div class="form-group col-md-6">
              <label>First Name</label>
              <input required type="text" class="form-control" id="firstname" name="firstname">
            </div>
            <div class="form-group col-md-6">
              <label>Last Name</label>
              <input required type="text" class="form-control" id="lastname" name="lastname">
            </div>
          </div>
          <div class="form-row text-left">
            <div class="form-group col-md-6">
              <label>Username</label>
              <input type="text" class="form-control" id="username" name="username">
              {% if message2 %}
              <div style="color: red">{{ message2 }}</div>
              {% endif %}
            </div>
            <div class="form-group col-md-6">
              <label>Role</label>
              <select name="role" class="form-control" required>
                <option value="normal">Normal User</option>
                <option value="officer">Officer</option>
              </select>
            </div>
          </div>
          <div class="form-group text-left">
              <label>Email</label>
              <input required type="email" class="form-control" id="email" name="email">
          </div>
          <div class="form-row text-left">
            <div class="form-group col-md-6">
              <label>Password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group col-md-6">
              <label>Confirm Password</label>
              <input type="password" class="form-control" id="confirmpassword" name="confirmpassword">
              {% if message1 %}
              <div style="color: red">{{ message1 }}</div>
              {% endif %}
            </div>
          </div>
          <button type="submit" class="btn">Sign Up</button>
          <br>
          <a href="{% url 'user:signin' %}" >Already have an account?</a>
          
        </form> 
      </div>
    </div>
  </section>
  <br><br><br>
</body>
{% endblock %}