{% extends 'user/layout.html' %}
{% load socialaccount %}
{% block body %}
<body class="h-100">
  <br>
  <section>
    <div class="text-center mt-4">
      <p class="header">Sign In</p>
      <div class="container w-50">
        <form class="mt-5" action="{% url 'user:signin' %}" method="POST">
          {% csrf_token %} 
          <div class="form-row text-left">
            <label>Username</label>
            <input type="text" class="form-control" name="username">
            <br>
            <label>Password</label>
            <input type="password" class="form-control" name="password">
            {% if message %}
            <div style="color: red">{{ message }}</div>
            {% else %}
              <button onclick="document.location='{% provider_login_url 'google' %}'">
                Login with Google
              </button>
            {% endif %}
          </div>
          <br>
          <button type="submit" class="btn">Sign In</button>
          <br>
          <a href="{% url 'user:signup' %}" >Don't have an account?</a>
        </form> 
      </div>
    </div>
  </section>
</body>
{% endblock %}
