{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block head_title %}
        {% endblock head_title %}
    </title>
    <link rel="stylesheet" type="text/css" href="/static/css/gobal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body>
    {% block body %}
    {% comment %} {% if messages %}
    <div>
        <strong>{% trans "Messages:" %}</strong>
        <ul>
            {% for message in messages %}<li>{{ message }}</li>{% endfor %}
        </ul>
    </div>
    {% endif %} {% endcomment %}
    {% comment %} <div>
        <strong>{% trans "Menu:" %}</strong>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'account_email' %}">{% trans "Change Email" %}</a>
            </li>
            <li>
                <a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
            </li>
            <li>
                <a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
            </li>
            {% endif %}
        </ul>
    </div> {% endcomment %}
    {% block content %}
    {% endblock content %}
    {% endblock body %}
    {% block extra_body %}
    {% endblock extra_body %}
</body>

</html>