{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Dashbord" %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
{% endblock extra_head %}
{% block content %}
    <div class="nav">
        <h1>Traffic Monitor</h1>
        <div class="nav-item">
            <a href="{% url 'dashboard' %}" class="btn-nav">Dashboard</a>
            <a href="{% url 'profile' %}" class="btn-nav">Profile</a>
            <a href="{% url 'account_logout' %}" class="btn-logout">Logout</a>
        </div>
    </div>
    <div class="content">
        <h2>New Task</h2>
        <div class="new-task">
            <form action="{% url "dashboard" %}" method="post">
                {% csrf_token %}
                <table>
                    {{ formTask.as_table }}
                    <tr>
                        <td></td>
                        <td><button type="submit" class="btn-submit">New Task</button></td>
                    </tr>
                </table>
            </form>
        </div>
        <h2>Dashboard</h2>
        <div class="dashboard">
            <table>
                <tr>
                    <th>Task ID</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th colspan="3">Edit</th>
                </tr>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td>{{ task.name }}</td>
                        <td>{{ task.location }}</td>
                        <td class="time">{{ task.date_time }}</td>
                        <td><a href="{% url "view_task" task.id %}" class="btn-view">View</a></td>
                        <td><a href="{% url "edit_task" task.id %}" class="btn-edit">Edit</a></td>
                        <td><a href="{% url "delete_task" task.id %}" class="btn-delete">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}