{% extends 'task/layout.html' %}
{% block body %}
<body id = "index">
    <header>
        <h1>Traffic Monitoring Site</h1>
    </header>
    <main>
        {% for task, input in list_detail_task.items %}
            <a class = 'index_task' href="{% url 'task:result' task.id %}">
                <div class="blockindex grid-container">
                    <img src='/media/{{input.input.sample_img}}' width=250px height=150px>

                    <aside class="grid-aside">
                        <div>
                            Name: {{ task.name }}<br>
                            Location: {{ task.location}}<br>
                            Total vehicles: {{input.total}}<br>
                            Weather: {{task.weather}}<br>
                            Time: {{ task.date_time }}<br>
                            Create by: {{ task.account }}<br>
                        </div>
                    </aside>
                </div>
            </a>
            <br>
        {%endfor%}
    </main>
    
</body>
{% endblock %}