{% extends 'task/layout.html' %}

{% block body %}
<body class="h-100">
        <section>
            <div class="text-center mt-4">
                <h1>Modify Loop</h1>
                <div class="container w-50">
                    <form class="mt-5" action="{% url 'task:modify_loop' task.id loop.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row text-center" style="display: flex; justify-content: center;">
                            <div class="form-group">
                                <img src="/media/{{input.fig_img}}">
                            </div>
                        </div>
                        
                        <div class="form-group text-left">
                            <label>Loop Name</label>
                            <input type="text" name="loop_name" class="form-control" value="{{ loop.loop_name }}">
                        </div>
                        <div class="form-row text-left">
                            <div class="form-group col-md-6">
                                <label>x</label>
                                <input type="text" name="x" class="form-control" value="{{ loop.x }}">
                            </div>
                            <div class="form-group col-md-6">
                                <label>y</label>
                                <input type="text" name="y" class="form-control" value="{{ loop.y }}">
                            </div>
                        </div>
                        <div class="form-row text-left">
                            <div class="form-group col-md-6">
                                <label>width</label>
                                <input type="text" name="width" class="form-control" value="{{ loop.width }}">
                            </div>
                            <div class="form-group col-md-6">
                                <label>height</label>
                                <input type="text" name="height" class="form-control" value="{{ loop.height }}">
                            </div>
                        </div>
                        <div class="form-row text-left">
                            <div class="form-group col-md-6">
                                <label>Angle</label>
                                <input type="text" name="angle" class="form-control" value="{{ loop.angle }}">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Direction</label>
                                <select name="direction" class="form-control" value="{{ loop.direction }}" require>
                                    <option value="" disabled hidden>Choose here</option>
                                    <option value="1">↖</option>
                                    <option value="2">↑</option>
                                    <option value="3">↗</option>
                                    <option value="4">→</option>
                                    <option value="5">↘</option>
                                    <option value="6">↓</option>
                                    <option value="7">↙</option>
                                    <option value="8">←</option>
                                </select>
                            </div>
                        </div>  
                        <button type="submit" class="btn">Add Loop</button>
                    </from>
                </div>
            </div>
        </section>
        
</body>
{% endblock %}

