{% extends 'task/layout.html' %}
{% block body %}
<body id = "index">
    <header>
        <h1>My task</h1>
    </header>

    <main class="mg">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Name</th>
                  <th scope="col">Location</th>
                  <th scope="col">Description</th>
                  <th scope="col">Weather</th>
                  <th scope="col">Status</th>
                  <th scope="col">#</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
            {% for t in task %}
                <form method="post" action="{% url 'task:mytask' %}">
                    <tr>
                        <td>{{t.date_time}}</td>
                        <td>{{t.name}}</td>
                        <td>{{t.location}}</td>
                        <td>{{t.description|slice:20}}...</td>
                        <td>{{t.weather}}</td>
                        <td>{{t.status}}</td>
                        <td>
                            {% if t.status == "SUCCESS" %}
                                <a href="{% url 'task:result' t.id %}">Result</a>
                            {% else %}
                                <a>Result</a> 
                            {%endif%}
                        </td>
                    </tr>
                </form>
            {% endfor %}
        </table>
    </main>
</body>
{% endblock %}
