#index {
    text-align: center;
}

.blockindex{
    background-color: rgba(255,255,255,0.5);
    border: solid 1px rgba(0,0,0,0.2);
    width: 680px;
    height: auto;
    border-radius: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
}

.main {
    grid-column: 1/2;
    grid-row: 1/2;
}

.aside {
    grid-column: 2/3;
    grid-row: 1/2;
}

table, td, th {  
    border: 1px solid black;
    text-align: left;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 15px;
  }
  