{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="/static/css/signinVia.css">
{% endblock extra_head %}
{% block content %}
    <div class="card">
        <span>
            {% if provider.name == "GitHub" %}
            <img src="/static/img/github.svg" alt="GitHub">
            {% elif provider.name == "Google" %}
            <img src="/static/img/google.svg" alt="Google">
            {% endif %}
        </span>
    {% if process == "connect" %}
        {% element h1 %}
            {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
        {% endelement %}
        <p>
            {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{ provider }}.{% endblocktrans %}
        </p>
    {% else %}
        {% element h1 %}
            {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
        {% endelement %}
        <p>
            {% blocktrans with provider.name as provider %}You are about to sign in with {{ provider }} account. {% endblocktrans %}
        </p>
    {% endif %}
    {% element form method="post" no_visible_fields=True %}
        {% slot actions %}
            {% csrf_token %}
            <div class="button-effect">
            {% element button type="submit" %}
                {% trans "Continue" %}
            {% endelement %}
            </div>
        {% endslot %}
    {% endelement %}
    </div>
{% endblock content %}
